.container {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    margin-bottom: 10px; /* Separación entre las cajas */
  }

  .separated-box {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    margin-top: 10px; /* Separación con las cajas anteriores */
    border: 1px  solid black;
  }